<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Health Monitor</title>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel = "stylesheet" type="text/css" href = "css/style.css" >
</head>
<body>

  <div>
    <h1 id = "ForgotPasswordHeader"> Forgot your password? </h1>
    <hr id = "ForgotPasswordLine"><br>
    <h2 id = "LetUsHelpYou"> Let us help you</h2><br><br><br>

    <form action="/resetPassword/resetPassword" method="POST">
        

        <% if (passwordsNotMatching.length > 0) { %>
            <input type="text" id = "inputError" placeholder="Password" name="password" required><br>
            <p id = "textError"> <%= passwordsNotMatching %></p><br>
            <input type="text" id = "inputError" placeholder="Repeat Password" name="repeatPassword" required><br>
            <p id = "textError"> <%= passwordsNotMatching %></p><br>
            <% } else if (minLength.length > 0){ %>
              <input type="password" id = "inputError" placeholder="Password" name="password" required><br>
              <p id = "textError"> <%= minLength %></p><br>
              <input type="password" id = "inputError" placeholder="Repeat Password" name="repeatPassword" required><br>
              <p id = "textError"> <%= minLength %></p><br>
            <% } else { %>
              <input type="password" placeholder="Password" name="password" required><br>
              <input type="password" placeholder="Repeat Password" name="repeatPassword" required><br>
            <% } %>
        <button type="Submit">Submit</button>
    </form>
  </div>

</body>
</html>